@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(e => {
        $("#mqttTest").click(e => {
            $.ajax({
                url: "/Home/MQTTTest",
                method: "POST"
            });
        }); 
    });
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="mqttTest" class="btn btn-primary">Test MQTT</button>
</div>
